:root {
  --vscode-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --vscode-font-weight: normal;
  --vscode-font-size: 13px;
  --vscode-editor-font-family: 'Operator Mono Lig', 'Cascadia Code';
  --vscode-editor-font-weight: normal;
  --vscode-editor-font-size: 15px;
  --text-link-decoration: none;
  --vscode-foreground: #f3eff5;
  --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
  --vscode-errorForeground: #f48771;
  --vscode-descriptionForeground: rgba(243, 239, 245, 0.7);
  --vscode-icon-foreground: #c5c5c5;
  --vscode-focusBorder: #263354;
  --vscode-selection-background: rgba(243, 239, 245, 0.31);
  --vscode-textLink-foreground: #46a1f0;
  --vscode-textLink-activeForeground: #3794ff;
  --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
  --vscode-textPreformat-foreground: #d7ba7d;
  --vscode-textPreformat-background: rgba(255, 255, 255, 0.1);
  --vscode-textBlockQuote-background: #222222;
  --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
  --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
  --vscode-sash-hoverBorder: #263354;
  --vscode-badge-background: #ed1292;
  --vscode-badge-foreground: #f3eff5;
  --vscode-scrollbar-shadow: #0e131f;
  --vscode-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
  --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --vscode-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
  --vscode-progressBar-background: #ed1292;
  --vscode-editor-background: #0e131f;
  --vscode-editor-foreground: #f3eff5;
  --vscode-editorStickyScroll-background: #242d34;
  --vscode-editorStickyScrollHover-background: #2a2d2e;
  --vscode-editorStickyScroll-shadow: #0e131f;
  --vscode-editorWidget-background: #141c2d;
  --vscode-editorWidget-foreground: #f3eff5;
  --vscode-editorWidget-border: #212c36;
  --vscode-editorError-foreground: #fe4a49;
  --vscode-editorWarning-foreground: #ffe45e;
  --vscode-editorInfo-foreground: #5eadf2;
  --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
  --vscode-editorLink-activeForeground: #4e94ce;
  --vscode-editor-selectionBackground: rgba(243, 239, 245, 0.2);
  --vscode-editor-selectionForeground: #f3eff5;
  --vscode-editor-inactiveSelectionBackground: rgba(243, 239, 245, 0.1);
  --vscode-editor-selectionHighlightBackground: rgba(176, 150, 190, 0.12);
  --vscode-editor-findMatchBackground: rgba(237, 18, 146, 0.5);
  --vscode-editor-findMatchHighlightBackground: rgba(237, 18, 146, 0.4);
  --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
  --vscode-editor-findMatchBorder: rgba(237, 18, 146, 0.6);
  --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
  --vscode-editorHoverWidget-background: #141c2d;
  --vscode-editorHoverWidget-foreground: #f3eff5;
  --vscode-editorHoverWidget-border: #212c36;
  --vscode-editorHoverWidget-statusBarBackground: #182136;
  --vscode-editorInlayHint-foreground: #969696;
  --vscode-editorInlayHint-background: rgba(237, 18, 146, 0.1);
  --vscode-editorInlayHint-typeForeground: #969696;
  --vscode-editorInlayHint-typeBackground: rgba(237, 18, 146, 0.1);
  --vscode-editorInlayHint-parameterForeground: #969696;
  --vscode-editorInlayHint-parameterBackground: rgba(237, 18, 146, 0.1);
  --vscode-editorLightBulb-foreground: #ffcc00;
  --vscode-editorLightBulbAutoFix-foreground: #75beff;
  --vscode-editorLightBulbAi-foreground: #ffcc00;
  --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
  --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
  --vscode-diffEditor-insertedTextBackground: rgba(156, 204, 44, 0.2);
  --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
  --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
  --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
  --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
  --vscode-diffEditor-unchangedRegionBackground: #141c2d;
  --vscode-diffEditor-unchangedRegionForeground: #f3eff5;
  --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
  --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
  --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
  --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
  --vscode-breadcrumb-foreground: #aaaaaa;
  --vscode-breadcrumb-background: #0e131f;
  --vscode-breadcrumb-focusForeground: #ffffff;
  --vscode-breadcrumb-activeSelectionForeground: #ffffff;
  --vscode-breadcrumbPicker-background: #141c2d;
  --vscode-merge-currentHeaderBackground: #005c65;
  --vscode-merge-currentContentBackground: #00434c;
  --vscode-merge-incomingHeaderBackground: #474f60;
  --vscode-merge-incomingContentBackground: #2e3647;
  --vscode-merge-commonHeaderBackground: #282d39;
  --vscode-merge-commonContentBackground: #414652;
  --vscode-editorOverviewRuler-currentContentForeground: #005c65;
  --vscode-editorOverviewRuler-incomingContentForeground: #474f60;
  --vscode-editorOverviewRuler-commonContentForeground: #282d39;
  --vscode-editorOverviewRuler-findMatchForeground: #ed1292;
  --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(
    160,
    160,
    160,
    0.8
  );
  --vscode-problemsErrorIcon-foreground: #fe4a49;
  --vscode-problemsWarningIcon-foreground: #ffe45e;
  --vscode-problemsInfoIcon-foreground: #5eadf2;
  --vscode-input-background: #0d1217;
  --vscode-input-foreground: #f3eff5;
  --vscode-inputOption-activeBorder: rgba(237, 18, 146, 0);
  --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
  --vscode-inputOption-activeBackground: rgba(237, 18, 146, 0.3);
  --vscode-inputOption-activeForeground: #ffffff;
  --vscode-input-placeholderForeground: rgba(243, 239, 245, 0.5);
  --vscode-inputValidation-infoBackground: #063b49;
  --vscode-inputValidation-infoBorder: #007acc;
  --vscode-inputValidation-warningBackground: #352a05;
  --vscode-inputValidation-warningBorder: #b89500;
  --vscode-inputValidation-errorBackground: #5a1d1d;
  --vscode-inputValidation-errorBorder: #be1100;
  --vscode-dropdown-background: #141c2d;
  --vscode-dropdown-foreground: #f0f0f0;
  --vscode-dropdown-border: #242d34;
  --vscode-button-foreground: #0e131f;
  --vscode-button-separator: rgba(14, 19, 31, 0.4);
  --vscode-button-background: #15c2cb;
  --vscode-button-hoverBackground: #59e6ee;
  --vscode-button-secondaryForeground: #f3eff5;
  --vscode-button-secondaryBackground: rgba(243, 239, 245, 0.2);
  --vscode-button-secondaryHoverBackground: rgba(243, 239, 245, 0.13);
  --vscode-radio-activeForeground: #ffffff;
  --vscode-radio-activeBackground: rgba(237, 18, 146, 0.3);
  --vscode-radio-activeBorder: rgba(237, 18, 146, 0);
  --vscode-radio-inactiveBorder: rgba(255, 255, 255, 0.2);
  --vscode-radio-inactiveHoverBackground: rgba(90, 93, 94, 0.5);
  --vscode-checkbox-background: #263454;
  --vscode-checkbox-selectBackground: #141c2d;
  --vscode-checkbox-foreground: #f3eff5;
  --vscode-checkbox-border: #334671;
  --vscode-checkbox-selectBorder: #c5c5c5;
  --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
  --vscode-keybindingLabel-foreground: #cccccc;
  --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
  --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
  --vscode-list-focusOutline: rgba(243, 239, 245, 0.2);
  --vscode-list-activeSelectionBackground: rgba(243, 239, 245, 0.2);
  --vscode-list-activeSelectionForeground: #f3eff5;
  --vscode-list-inactiveSelectionBackground: rgba(243, 239, 245, 0.13);
  --vscode-list-inactiveSelectionForeground: rgba(243, 239, 245, 0.8);
  --vscode-list-inactiveFocusOutline: rgba(243, 239, 245, 0.13);
  --vscode-list-hoverBackground: rgba(243, 239, 245, 0.13);
  --vscode-list-dropBackground: #062f4a;
  --vscode-list-dropBetweenBackground: #c5c5c5;
  --vscode-list-highlightForeground: #15c2cb;
  --vscode-list-focusHighlightForeground: #15c2cb;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-errorForeground: #f88070;
  --vscode-list-warningForeground: #cca700;
  --vscode-listFilterWidget-background: #760949;
  --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --vscode-listFilterWidget-noMatchesOutline: #fe4a49;
  --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
  --vscode-list-filterMatchBackground: rgba(237, 18, 146, 0.4);
  --vscode-list-deemphasizedForeground: #8c8c8c;
  --vscode-tree-indentGuidesStroke: rgba(243, 239, 245, 0.4);
  --vscode-tree-inactiveIndentGuidesStroke: rgba(243, 239, 245, 0.16);
  --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
  --vscode-tree-tableOddRowsBackground: rgba(243, 239, 245, 0.04);
  --vscode-menu-border: #212c36;
  --vscode-menu-foreground: #f0f0f0;
  --vscode-menu-background: #141c2d;
  --vscode-menu-selectionForeground: #f3eff5;
  --vscode-menu-selectionBackground: rgba(243, 239, 245, 0.2);
  --vscode-menu-separatorBackground: #606060;
  --vscode-minimap-findMatchHighlight: #d18616;
  --vscode-minimap-selectionOccurrenceHighlight: #676767;
  --vscode-minimap-selectionHighlight: #264f78;
  --vscode-minimap-infoHighlight: #5eadf2;
  --vscode-minimap-warningHighlight: #ffe45e;
  --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
  --vscode-minimap-foregroundOpacity: #000000;
  --vscode-minimapSlider-background: rgba(121, 121, 121, 0.2);
  --vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
  --vscode-minimapSlider-activeBackground: rgba(191, 191, 191, 0.2);
  --vscode-charts-foreground: #f3eff5;
  --vscode-charts-lines: rgba(243, 239, 245, 0.5);
  --vscode-charts-red: #fe4a49;
  --vscode-charts-blue: #5eadf2;
  --vscode-charts-yellow: #ffe45e;
  --vscode-charts-orange: #d18616;
  --vscode-charts-green: #89d185;
  --vscode-charts-purple: #b180d7;
  --vscode-quickInput-background: #141c2d;
  --vscode-quickInput-foreground: #f3eff5;
  --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
  --vscode-pickerGroup-foreground: #3794ff;
  --vscode-pickerGroup-border: #3f3f46;
  --vscode-quickInputList-focusForeground: #f3eff5;
  --vscode-quickInputList-focusBackground: rgba(243, 239, 245, 0.2);
  --vscode-search-resultsInfoForeground: rgba(243, 239, 245, 0.65);
  --vscode-searchEditor-findMatchBackground: rgba(237, 18, 146, 0.26);
  --vscode-multiDiffEditor-headerBackground: #262626;
  --vscode-multiDiffEditor-border: #212c36;
  --vscode-symbolIcon-arrayForeground: #f3eff5;
  --vscode-symbolIcon-booleanForeground: #f3eff5;
  --vscode-symbolIcon-classForeground: #ee9d28;
  --vscode-symbolIcon-colorForeground: #f3eff5;
  --vscode-symbolIcon-constantForeground: #f3eff5;
  --vscode-symbolIcon-constructorForeground: #b180d7;
  --vscode-symbolIcon-enumeratorForeground: #ee9d28;
  --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
  --vscode-symbolIcon-eventForeground: #ee9d28;
  --vscode-symbolIcon-fieldForeground: #75beff;
  --vscode-symbolIcon-fileForeground: #f3eff5;
  --vscode-symbolIcon-folderForeground: #f3eff5;
  --vscode-symbolIcon-functionForeground: #b180d7;
  --vscode-symbolIcon-interfaceForeground: #75beff;
  --vscode-symbolIcon-keyForeground: #f3eff5;
  --vscode-symbolIcon-keywordForeground: #f3eff5;
  --vscode-symbolIcon-methodForeground: #b180d7;
  --vscode-symbolIcon-moduleForeground: #f3eff5;
  --vscode-symbolIcon-namespaceForeground: #f3eff5;
  --vscode-symbolIcon-nullForeground: #f3eff5;
  --vscode-symbolIcon-numberForeground: #f3eff5;
  --vscode-symbolIcon-objectForeground: #f3eff5;
  --vscode-symbolIcon-operatorForeground: #f3eff5;
  --vscode-symbolIcon-packageForeground: #f3eff5;
  --vscode-symbolIcon-propertyForeground: #f3eff5;
  --vscode-symbolIcon-referenceForeground: #f3eff5;
  --vscode-symbolIcon-snippetForeground: #f3eff5;
  --vscode-symbolIcon-stringForeground: #f3eff5;
  --vscode-symbolIcon-structForeground: #f3eff5;
  --vscode-symbolIcon-textForeground: #f3eff5;
  --vscode-symbolIcon-typeParameterForeground: #f3eff5;
  --vscode-symbolIcon-unitForeground: #f3eff5;
  --vscode-symbolIcon-variableForeground: #75beff;
  --vscode-actionBar-toggledBackground: rgba(237, 18, 146, 0.3);
  --vscode-editorHoverWidget-highlightForeground: #15c2cb;
  --vscode-editor-lineHighlightBackground: #242d34;
  --vscode-editor-lineHighlightBorder: #242d34;
  --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-editor-symbolHighlightBackground: rgba(237, 18, 146, 0.4);
  --vscode-editorCursor-foreground: #44ffd2;
  --vscode-editorMultiCursor-primary\.foreground: #44ffd2;
  --vscode-editorMultiCursor-secondary\.foreground: #44ffd2;
  --vscode-editorWhitespace-foreground: rgba(227, 228, 226, 0.16);
  --vscode-editorLineNumber-foreground: rgba(243, 239, 245, 0.7);
  --vscode-editorIndentGuide-background: rgba(227, 228, 226, 0.16);
  --vscode-editorIndentGuide-activeBackground: rgba(227, 228, 226, 0.16);
  --vscode-editorIndentGuide-background1: rgba(227, 228, 226, 0.16);
  --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground1: rgba(227, 228, 226, 0.16);
  --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorActiveLineNumber-foreground: #c6c6c6;
  --vscode-editorLineNumber-activeForeground: #f3eff5;
  --vscode-editorRuler-foreground: #5a5a5a;
  --vscode-editorCodeLens-foreground: #999999;
  --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
  --vscode-editorBracketMatch-border: #888888;
  --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
  --vscode-editorGutter-background: #0e131f;
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
  --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
  --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
  --vscode-editorOverviewRuler-warningForeground: #ffe45e;
  --vscode-editorOverviewRuler-infoForeground: #5eadf2;
  --vscode-editorBracketHighlight-foreground1: #ffd700;
  --vscode-editorBracketHighlight-foreground2: #da70d6;
  --vscode-editorBracketHighlight-foreground3: #179fff;
  --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(
    255,
    18,
    18,
    0.8
  );
  --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorUnicodeHighlight-border: #ffe45e;
  --vscode-editor-placeholder\.foreground: rgba(255, 255, 255, 0.34);
  --vscode-diffEditor-move\.border: rgba(139, 139, 139, 0.61);
  --vscode-diffEditor-moveActive\.border: #ffa500;
  --vscode-diffEditor-unchangedRegionShadow: #000000;
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-editor-foldBackground: rgba(243, 239, 245, 0.06);
  --vscode-editor-foldPlaceholderForeground: #808080;
  --vscode-editorGutter-foldingControlForeground: #c5c5c5;
  --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
  --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
  --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
  --vscode-editor-wordHighlightTextBackground: rgba(87, 87, 87, 0.72);
  --vscode-editorOverviewRuler-wordHighlightForeground: rgba(
    160,
    160,
    160,
    0.8
  );
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(
    192,
    160,
    192,
    0.8
  );
  --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(
    160,
    160,
    160,
    0.8
  );
  --vscode-peekViewTitle-background: #0e131f;
  --vscode-peekViewTitleLabel-foreground: #ffffff;
  --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
  --vscode-peekView-border: #5eadf2;
  --vscode-peekViewResult-background: #0e131f;
  --vscode-peekViewResult-lineForeground: #f3eff5;
  --vscode-peekViewResult-fileForeground: #f3eff5;
  --vscode-peekViewResult-selectionBackground: rgba(243, 239, 245, 0.31);
  --vscode-peekViewResult-selectionForeground: #ffffff;
  --vscode-peekViewEditor-background: #141c2d;
  --vscode-peekViewEditorGutter-background: #141c2d;
  --vscode-peekViewEditorStickyScroll-background: #141c2d;
  --vscode-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
  --vscode-peekViewEditor-matchHighlightBackground: rgba(237, 18, 146, 0.6);
  --vscode-editorMarkerNavigationError-background: #fe4a49;
  --vscode-editorMarkerNavigationError-headerBackground: rgba(254, 74, 73, 0.1);
  --vscode-editorMarkerNavigationWarning-background: #ffe45e;
  --vscode-editorMarkerNavigationWarning-headerBackground: rgba(
    255,
    228,
    94,
    0.1
  );
  --vscode-editorMarkerNavigationInfo-background: #5eadf2;
  --vscode-editorMarkerNavigationInfo-headerBackground: rgba(94, 173, 242, 0.1);
  --vscode-editorMarkerNavigation-background: #141c2d;
  --vscode-editorSuggestWidget-background: #141c2d;
  --vscode-editorSuggestWidget-border: #212c36;
  --vscode-editorSuggestWidget-foreground: #f3eff5;
  --vscode-editorSuggestWidget-selectedForeground: #f3eff5;
  --vscode-editorSuggestWidget-selectedBackground: rgba(243, 239, 245, 0.2);
  --vscode-editorSuggestWidget-highlightForeground: #15c2cb;
  --vscode-editorSuggestWidget-focusHighlightForeground: #15c2cb;
  --vscode-editorSuggestWidgetStatus-foreground: rgba(243, 239, 245, 0.5);
  --vscode-editorWatermark-foreground: rgba(243, 239, 245, 0.6);
  --vscode-tab-activeBackground: #0e131f;
  --vscode-tab-unfocusedActiveBackground: #0e131f;
  --vscode-tab-inactiveBackground: #141c2d;
  --vscode-tab-unfocusedInactiveBackground: #141c2d;
  --vscode-tab-activeForeground: #ffffff;
  --vscode-tab-inactiveForeground: rgba(243, 239, 245, 0.8);
  --vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
  --vscode-tab-unfocusedInactiveForeground: rgba(243, 239, 245, 0.4);
  --vscode-tab-border: #212c36;
  --vscode-tab-lastPinnedBorder: rgba(243, 239, 245, 0.4);
  --vscode-tab-selectedBackground: #0e131f;
  --vscode-tab-selectedForeground: #ffffff;
  --vscode-tab-dragAndDropBorder: #ffffff;
  --vscode-tab-activeModifiedBorder: #3399cc;
  --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
  --vscode-editorPane-background: #0e131f;
  --vscode-editorGroupHeader-tabsBackground: #141c2d;
  --vscode-editorGroupHeader-tabsBorder: #212c36;
  --vscode-editorGroupHeader-noTabsBackground: #0e131f;
  --vscode-editorGroup-border: #444444;
  --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-editorGroup-dropIntoPromptForeground: #f3eff5;
  --vscode-editorGroup-dropIntoPromptBackground: #141c2d;
  --vscode-sideBySideEditor-horizontalBorder: #444444;
  --vscode-sideBySideEditor-verticalBorder: #444444;
  --vscode-panel-background: #0e131f;
  --vscode-panel-border: rgba(128, 128, 128, 0.35);
  --vscode-panelTitle-activeForeground: #e7e7e7;
  --vscode-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
  --vscode-panelTitle-activeBorder: #e7e7e7;
  --vscode-panel-dropBorder: #e7e7e7;
  --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
  --vscode-panelSection-border: rgba(128, 128, 128, 0.35);
  --vscode-panelStickyScroll-background: #0e131f;
  --vscode-panelStickyScroll-shadow: #0e131f;
  --vscode-banner-background: rgba(243, 239, 245, 0.2);
  --vscode-banner-foreground: #f3eff5;
  --vscode-banner-iconForeground: #5eadf2;
  --vscode-statusBar-foreground: rgba(243, 239, 245, 0.8);
  --vscode-statusBar-noFolderForeground: rgba(243, 239, 245, 0.8);
  --vscode-statusBar-background: #0e131f;
  --vscode-statusBar-noFolderBackground: #760949;
  --vscode-statusBar-border: #212c36;
  --vscode-statusBar-focusBorder: rgba(243, 239, 245, 0.8);
  --vscode-statusBar-noFolderBorder: #212c36;
  --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
  --vscode-statusBarItem-focusBorder: rgba(243, 239, 245, 0.8);
  --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-hoverForeground: rgba(243, 239, 245, 0.8);
  --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
  --vscode-statusBarItem-prominentForeground: rgba(243, 239, 245, 0.8);
  --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
  --vscode-statusBarItem-prominentHoverForeground: rgba(243, 239, 245, 0.8);
  --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
  --vscode-statusBarItem-errorBackground: #c72e0f;
  --vscode-statusBarItem-errorForeground: #ffffff;
  --vscode-statusBarItem-errorHoverForeground: rgba(243, 239, 245, 0.8);
  --vscode-statusBarItem-errorHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-warningBackground: #d1ae00;
  --vscode-statusBarItem-warningForeground: #ffffff;
  --vscode-statusBarItem-warningHoverForeground: rgba(243, 239, 245, 0.8);
  --vscode-statusBarItem-warningHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-activityBar-background: #0e131f;
  --vscode-activityBar-foreground: #f3eff5;
  --vscode-activityBar-inactiveForeground: rgba(243, 239, 245, 0.4);
  --vscode-activityBar-border: #242d34;
  --vscode-activityBar-activeBorder: #ed1292;
  --vscode-activityBar-activeFocusBorder: #d61084;
  --vscode-activityBar-activeBackground: rgba(255, 255, 255, 0);
  --vscode-activityBar-dropBorder: #f3eff5;
  --vscode-activityBarBadge-background: #ed1292;
  --vscode-activityBarBadge-foreground: #f3eff5;
  --vscode-activityBarTop-foreground: #e7e7e7;
  --vscode-activityBarTop-activeBorder: #ed1292;
  --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
  --vscode-activityBarTop-dropBorder: #e7e7e7;
  --vscode-profileBadge-background: #4d4d4d;
  --vscode-profileBadge-foreground: #ffffff;
  --vscode-statusBarItem-remoteBackground: #ed1292;
  --vscode-statusBarItem-remoteForeground: #f3eff5;
  --vscode-statusBarItem-remoteHoverForeground: rgba(243, 239, 245, 0.8);
  --vscode-statusBarItem-remoteHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-offlineBackground: #6c1717;
  --vscode-statusBarItem-offlineForeground: #f3eff5;
  --vscode-statusBarItem-offlineHoverForeground: rgba(243, 239, 245, 0.8);
  --vscode-statusBarItem-offlineHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-extensionBadge-remoteBackground: #ed1292;
  --vscode-extensionBadge-remoteForeground: #f3eff5;
  --vscode-sideBar-background: #141c2d;
  --vscode-sideBar-foreground: rgba(243, 239, 245, 0.8);
  --vscode-sideBar-border: #242d34;
  --vscode-sideBarTitle-background: #141c2d;
  --vscode-sideBarTitle-foreground: rgba(243, 239, 245, 0.8);
  --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-sideBarSectionHeader-background: #0d1217;
  --vscode-sideBarSectionHeader-foreground: rgba(243, 239, 245, 0.8);
  --vscode-sideBarSectionHeader-border: #212c36;
  --vscode-sideBarActivityBarTop-border: #212c36;
  --vscode-sideBarStickyScroll-background: #141c2d;
  --vscode-sideBarStickyScroll-shadow: #0e131f;
  --vscode-titleBar-activeForeground: #f3eff5;
  --vscode-titleBar-inactiveForeground: rgba(243, 239, 245, 0.5);
  --vscode-titleBar-activeBackground: #0e131f;
  --vscode-titleBar-inactiveBackground: #0c111b;
  --vscode-titleBar-border: #212c36;
  --vscode-menubar-selectionForeground: #f3eff5;
  --vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
  --vscode-commandCenter-foreground: #f3eff5;
  --vscode-commandCenter-activeForeground: #f3eff5;
  --vscode-commandCenter-inactiveForeground: rgba(243, 239, 245, 0.5);
  --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
  --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
  --vscode-commandCenter-border: rgba(243, 239, 245, 0.2);
  --vscode-commandCenter-activeBorder: rgba(243, 239, 245, 0.3);
  --vscode-commandCenter-inactiveBorder: rgba(243, 239, 245, 0.13);
  --vscode-notificationCenter-border: #212c36;
  --vscode-notificationToast-border: #212c36;
  --vscode-notifications-foreground: #f3eff5;
  --vscode-notifications-background: #141c2d;
  --vscode-notificationLink-foreground: #46a1f0;
  --vscode-notificationCenterHeader-foreground: #f3eff5;
  --vscode-notificationCenterHeader-background: #0e131f;
  --vscode-notifications-border: #212c36;
  --vscode-notificationsErrorIcon-foreground: #fe4a49;
  --vscode-notificationsWarningIcon-foreground: #ffe45e;
  --vscode-notificationsInfoIcon-foreground: #5eadf2;
  --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
  --vscode-chat-requestBackground: rgba(14, 19, 31, 0.62);
  --vscode-chat-slashCommandBackground: rgba(52, 65, 75, 0.56);
  --vscode-chat-slashCommandForeground: #40a6ff;
  --vscode-chat-avatarBackground: #1f1f1f;
  --vscode-chat-avatarForeground: #f3eff5;
  --vscode-simpleFindWidget-sashBorder: #454545;
  --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
  --vscode-commentsView-unresolvedIcon: rgba(243, 239, 245, 0.2);
  --vscode-editorCommentsWidget-replyInputBackground: #0e131f;
  --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
  --vscode-editorCommentsWidget-unresolvedBorder: rgba(243, 239, 245, 0.2);
  --vscode-editorCommentsWidget-rangeBackground: rgba(243, 239, 245, 0.02);
  --vscode-editorCommentsWidget-rangeActiveBackground: rgba(
    243,
    239,
    245,
    0.02
  );
  --vscode-editorGutter-commentRangeForeground: #2c303b;
  --vscode-editorOverviewRuler-commentForeground: #2c303b;
  --vscode-editorOverviewRuler-commentUnresolvedForeground: #2c303b;
  --vscode-editorGutter-commentGlyphForeground: #f3eff5;
  --vscode-editorGutter-commentUnresolvedGlyphForeground: #f3eff5;
  --vscode-debugToolBar-background: #1e2942;
  --vscode-debugToolBar-border: #3e474e;
  --vscode-debugIcon-startForeground: #89d185;
  --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
  --vscode-editor-focusedStackFrameHighlightBackground: rgba(
    122,
    189,
    122,
    0.3
  );
  --vscode-inlineChat-foreground: #f3eff5;
  --vscode-inlineChat-background: #141c2d;
  --vscode-inlineChat-border: #212c36;
  --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.36);
  --vscode-inlineChatInput-border: #212c36;
  --vscode-inlineChatInput-focusBorder: #263354;
  --vscode-inlineChatInput-placeholderForeground: rgba(243, 239, 245, 0.5);
  --vscode-inlineChatInput-background: #0d1217;
  --vscode-inlineChatDiff-inserted: rgba(156, 204, 44, 0.1);
  --vscode-editorOverviewRuler-inlineChatInserted: rgba(156, 204, 44, 0.12);
  --vscode-inlineChatDiff-removed: rgba(255, 0, 0, 0.1);
  --vscode-editorOverviewRuler-inlineChatRemoved: rgba(255, 0, 0, 0.12);
  --vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
  --vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.2);
  --vscode-mergeEditor-changeBase\.background: #4b1818;
  --vscode-mergeEditor-changeBase\.word\.background: #6f1313;
  --vscode-mergeEditor-conflict\.unhandledUnfocused\.border: rgba(
    255,
    166,
    0,
    0.48
  );
  --vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
  --vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(
    134,
    134,
    134,
    0.29
  );
  --vscode-mergeEditor-conflict\.handledFocused\.border: rgba(
    193,
    193,
    193,
    0.8
  );
  --vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(
    173,
    172,
    168,
    0.93
  );
  --vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
  --vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
  --vscode-mergeEditor-conflict\.input1\.background: rgba(0, 92, 101, 0.4);
  --vscode-mergeEditor-conflict\.input2\.background: rgba(71, 79, 96, 0.4);
  --vscode-settings-headerForeground: #e7e7e7;
  --vscode-settings-settingsHeaderHoverForeground: rgba(231, 231, 231, 0.7);
  --vscode-settings-modifiedItemIndicator: #0c7d9d;
  --vscode-settings-headerBorder: rgba(128, 128, 128, 0.35);
  --vscode-settings-sashBorder: rgba(128, 128, 128, 0.35);
  --vscode-settings-dropdownBackground: #141c2d;
  --vscode-settings-dropdownForeground: #f0f0f0;
  --vscode-settings-dropdownBorder: #242d34;
  --vscode-settings-dropdownListBorder: #212c36;
  --vscode-settings-checkboxBackground: #263454;
  --vscode-settings-checkboxForeground: #f3eff5;
  --vscode-settings-checkboxBorder: #334671;
  --vscode-settings-textInputBackground: #0d1217;
  --vscode-settings-textInputForeground: #f3eff5;
  --vscode-settings-numberInputBackground: #0d1217;
  --vscode-settings-numberInputForeground: #f3eff5;
  --vscode-settings-focusedRowBackground: rgba(243, 239, 245, 0.08);
  --vscode-settings-rowHoverBackground: rgba(243, 239, 245, 0.04);
  --vscode-settings-focusedRowBorder: #263354;
  --vscode-scm-historyGraph\.historyItemGroupLocal: #5eadf2;
  --vscode-scm-historyGraph\.historyItemGroupRemote: #b180d7;
  --vscode-scm-historyGraph\.historyItemGroupBase: #d18616;
  --vscode-scm-historyGraph\.historyItemGroupHoverLabelForeground: #0e131f;
  --vscode-scm-historyGraph\.green: #89d185;
  --vscode-scm-historyGraph\.red: #fe4a49;
  --vscode-scm-historyGraph\.yellow: #ffe45e;
  --vscode-terminal-background: #0e131f;
  --vscode-terminal-foreground: #f3eff5;
  --vscode-terminal-selectionBackground: rgba(243, 239, 245, 0.2);
  --vscode-terminal-inactiveSelectionBackground: rgba(243, 239, 245, 0.1);
  --vscode-terminalCommandDecoration-defaultBackground: rgba(
    255,
    255,
    255,
    0.25
  );
  --vscode-terminalCommandDecoration-successBackground: #1b81a8;
  --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
  --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
  --vscode-terminal-border: #212c36;
  --vscode-terminalOverviewRuler-border: rgba(127, 127, 127, 0.3);
  --vscode-terminal-findMatchBackground: rgba(237, 18, 146, 0.5);
  --vscode-terminal-hoverHighlightBackground: rgba(38, 79, 120, 0.13);
  --vscode-terminal-findMatchHighlightBackground: rgba(237, 18, 146, 0.4);
  --vscode-terminalOverviewRuler-findMatchForeground: #ed1292;
  --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-terminal-initialHintForeground: rgba(255, 255, 255, 0.34);
  --vscode-terminalStickyScrollHover-background: #2a2d2e;
  --vscode-testing-iconFailed: #f14c4c;
  --vscode-testing-iconErrored: #f14c4c;
  --vscode-testing-iconPassed: #73c991;
  --vscode-testing-runAction: #73c991;
  --vscode-testing-iconQueued: #cca700;
  --vscode-testing-iconUnset: #848484;
  --vscode-testing-iconSkipped: #848484;
  --vscode-testing-peekBorder: #fe4a49;
  --vscode-testing-messagePeekBorder: #5eadf2;
  --vscode-testing-peekHeaderBackground: rgba(254, 74, 73, 0.1);
  --vscode-testing-messagePeekHeaderBackground: rgba(94, 173, 242, 0.1);
  --vscode-testing-coveredBackground: rgba(156, 204, 44, 0.2);
  --vscode-testing-coveredBorder: rgba(156, 204, 44, 0.15);
  --vscode-testing-coveredGutterBackground: rgba(156, 204, 44, 0.12);
  --vscode-testing-uncoveredBranchBackground: #6e0b12;
  --vscode-testing-uncoveredBackground: rgba(255, 0, 0, 0.2);
  --vscode-testing-uncoveredBorder: rgba(255, 0, 0, 0.15);
  --vscode-testing-uncoveredGutterBackground: rgba(255, 0, 0, 0.3);
  --vscode-testing-coverCountBadgeBackground: #ed1292;
  --vscode-testing-coverCountBadgeForeground: #f3eff5;
  --vscode-testing-message\.error\.decorationForeground: #fe4a49;
  --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
  --vscode-testing-message\.info\.decorationForeground: rgba(
    243,
    239,
    245,
    0.5
  );
  --vscode-testing-iconErrored\.retired: rgba(241, 76, 76, 0.7);
  --vscode-testing-iconFailed\.retired: rgba(241, 76, 76, 0.7);
  --vscode-testing-iconPassed\.retired: rgba(115, 201, 145, 0.7);
  --vscode-testing-iconQueued\.retired: rgba(204, 167, 0, 0.7);
  --vscode-testing-iconUnset\.retired: rgba(132, 132, 132, 0.7);
  --vscode-testing-iconSkipped\.retired: rgba(132, 132, 132, 0.7);
  --vscode-welcomePage-tileBackground: #141c2d;
  --vscode-welcomePage-tileHoverBackground: #182136;
  --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
  --vscode-welcomePage-progress\.background: #0d1217;
  --vscode-welcomePage-progress\.foreground: #46a1f0;
  --vscode-walkthrough-stepTitle\.foreground: #ffffff;
  --vscode-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.4);
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugExceptionWidget-background: #420b0d;
  --vscode-statusBar-debuggingBackground: #fe4a49;
  --vscode-statusBar-debuggingForeground: #0e131f;
  --vscode-statusBar-debuggingBorder: #212c36;
  --vscode-commandCenter-debuggingBackground: rgba(254, 74, 73, 0.26);
  --vscode-editorGutter-modifiedBackground: #1b81a8;
  --vscode-editorGutter-addedBackground: #487e02;
  --vscode-editorGutter-deletedBackground: #fe4a49;
  --vscode-minimapGutter-modifiedBackground: #1b81a8;
  --vscode-minimapGutter-addedBackground: #487e02;
  --vscode-minimapGutter-deletedBackground: #fe4a49;
  --vscode-editorOverviewRuler-modifiedForeground: rgba(27, 129, 168, 0.6);
  --vscode-editorOverviewRuler-addedForeground: rgba(72, 126, 2, 0.6);
  --vscode-editorOverviewRuler-deletedForeground: rgba(254, 74, 73, 0.6);
  --vscode-keybindingTable-headerBackground: rgba(243, 239, 245, 0.04);
  --vscode-keybindingTable-rowsBackground: rgba(243, 239, 245, 0.04);
  --vscode-debugIcon-breakpointForeground: #fe4a49;
  --vscode-debugIcon-breakpointDisabledForeground: #848484;
  --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
  --vscode-debugIcon-breakpointStackframeForeground: #89d185;
  --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
  --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
  --vscode-ports-iconRunningProcessForeground: #ed1292;
  --vscode-profiles-sashBorder: rgba(128, 128, 128, 0.35);
  --vscode-debugTokenExpression-name: #c586c0;
  --vscode-debugTokenExpression-type: #4a90e2;
  --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
  --vscode-debugTokenExpression-string: #ce9178;
  --vscode-debugTokenExpression-boolean: #4e94ce;
  --vscode-debugTokenExpression-number: #b5cea8;
  --vscode-debugTokenExpression-error: #f48771;
  --vscode-debugView-exceptionLabelForeground: #f3eff5;
  --vscode-debugView-exceptionLabelBackground: #6c2022;
  --vscode-debugView-stateLabelForeground: #f3eff5;
  --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #5eadf2;
  --vscode-debugConsole-warningForeground: #ffe45e;
  --vscode-debugConsole-errorForeground: #f48771;
  --vscode-debugConsole-sourceForeground: #f3eff5;
  --vscode-debugConsoleInputIcon-foreground: #f3eff5;
  --vscode-debugIcon-pauseForeground: #75beff;
  --vscode-debugIcon-stopForeground: #f48771;
  --vscode-debugIcon-disconnectForeground: #f48771;
  --vscode-debugIcon-restartForeground: #89d185;
  --vscode-debugIcon-stepOverForeground: #75beff;
  --vscode-debugIcon-stepIntoForeground: #75beff;
  --vscode-debugIcon-stepOutForeground: #75beff;
  --vscode-debugIcon-continueForeground: #75beff;
  --vscode-debugIcon-stepBackForeground: #75beff;
  --vscode-scm-historyItemAdditionsForeground: rgba(68, 255, 210, 0.8);
  --vscode-scm-historyItemDeletionsForeground: rgba(254, 74, 73, 0.8);
  --vscode-scm-historyItemStatisticsBorder: rgba(243, 239, 245, 0.2);
  --vscode-scm-historyItemSelectedStatisticsBorder: rgba(243, 239, 245, 0.2);
  --vscode-extensionButton-background: #15c2cb;
  --vscode-extensionButton-foreground: #0e131f;
  --vscode-extensionButton-hoverBackground: #59e6ee;
  --vscode-extensionButton-separator: rgba(14, 19, 31, 0.4);
  --vscode-extensionButton-prominentBackground: #15c2cb;
  --vscode-extensionButton-prominentForeground: #0e131f;
  --vscode-extensionButton-prominentHoverBackground: #59e6ee;
  --vscode-extensionIcon-starForeground: #ff8e00;
  --vscode-extensionIcon-verifiedForeground: #46a1f0;
  --vscode-extensionIcon-preReleaseForeground: #1d9271;
  --vscode-extensionIcon-sponsorForeground: #d758b3;
  --vscode-notebook-cellBorderColor: rgba(243, 239, 245, 0.13);
  --vscode-notebook-focusedEditorBorder: #263354;
  --vscode-notebookStatusSuccessIcon-foreground: #89d185;
  --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
  --vscode-notebookStatusErrorIcon-foreground: #f48771;
  --vscode-notebookStatusRunningIcon-foreground: #f3eff5;
  --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
  --vscode-notebook-selectedCellBackground: rgba(243, 239, 245, 0.13);
  --vscode-notebook-selectedCellBorder: rgba(243, 239, 245, 0.13);
  --vscode-notebook-focusedCellBorder: #263354;
  --vscode-notebook-inactiveFocusedCellBorder: rgba(243, 239, 245, 0.13);
  --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
  --vscode-notebook-cellInsertionIndicator: #263354;
  --vscode-notebookScrollbarSlider-background: rgba(121, 121, 121, 0.4);
  --vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --vscode-notebookScrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
  --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-notebook-cellEditorBackground: #141c2d;
  --vscode-notebook-editorBackground: #0e131f;
  --vscode-interactive-activeCodeBorder: #5eadf2;
  --vscode-interactive-inactiveCodeBorder: rgba(243, 239, 245, 0.13);
  --vscode-terminal-ansiBlack: #141c2d;
  --vscode-terminal-ansiRed: #fe4a49;
  --vscode-terminal-ansiGreen: #11ffc6;
  --vscode-terminal-ansiYellow: #f5cc00;
  --vscode-terminal-ansiBlue: #46a1f0;
  --vscode-terminal-ansiMagenta: #ed1292;
  --vscode-terminal-ansiCyan: #0accd6;
  --vscode-terminal-ansiWhite: #dad6dc;
  --vscode-terminal-ansiBrightBlack: #676965;
  --vscode-terminal-ansiBrightRed: #fe6362;
  --vscode-terminal-ansiBrightGreen: #44ffd2;
  --vscode-terminal-ansiBrightYellow: #ffe45e;
  --vscode-terminal-ansiBrightBlue: #5eadf2;
  --vscode-terminal-ansiBrightMagenta: #f141a8;
  --vscode-terminal-ansiBrightCyan: #15c2cb;
  --vscode-terminal-ansiBrightWhite: #f3eff5;
  --vscode-gitDecoration-addedResourceForeground: rgba(68, 255, 210, 0.8);
  --vscode-gitDecoration-modifiedResourceForeground: rgba(255, 228, 94, 0.8);
  --vscode-gitDecoration-deletedResourceForeground: rgba(254, 74, 73, 0.8);
  --vscode-gitDecoration-renamedResourceForeground: #73c991;
  --vscode-gitDecoration-untrackedResourceForeground: rgba(68, 255, 210, 0.8);
  --vscode-gitDecoration-ignoredResourceForeground: #8c8c8c;
  --vscode-gitDecoration-stageModifiedResourceForeground: rgba(
    255,
    228,
    94,
    0.8
  );
  --vscode-gitDecoration-stageDeletedResourceForeground: rgba(254, 74, 73, 0.8);
  --vscode-gitDecoration-conflictingResourceForeground: #e4676b;
  --vscode-gitDecoration-submoduleResourceForeground: rgba(94, 173, 242, 0.8);
  --vscode-gitlens-gutterBackgroundColor: rgba(255, 255, 255, 0.07);
  --vscode-gitlens-gutterForegroundColor: #bebebe;
  --vscode-gitlens-gutterUncommittedForegroundColor: rgba(0, 188, 242, 0.6);
  --vscode-gitlens-trailingLineBackgroundColor: rgba(0, 0, 0, 0);
  --vscode-gitlens-trailingLineForegroundColor: rgba(153, 153, 153, 0.35);
  --vscode-gitlens-lineHighlightBackgroundColor: rgba(0, 188, 242, 0.2);
  --vscode-gitlens-lineHighlightOverviewRulerColor: rgba(0, 188, 242, 0.6);
  --vscode-gitlens-openAutolinkedIssueIconColor: #3fb950;
  --vscode-gitlens-closedAutolinkedIssueIconColor: #a371f7;
  --vscode-gitlens-closedPullRequestIconColor: #f85149;
  --vscode-gitlens-openPullRequestIconColor: #3fb950;
  --vscode-gitlens-mergedPullRequestIconColor: #a371f7;
  --vscode-gitlens-unpublishedChangesIconColor: #35b15e;
  --vscode-gitlens-unpublishedCommitIconColor: #35b15e;
  --vscode-gitlens-unpulledChangesIconColor: #b15e35;
  --vscode-gitlens-decorations\.addedForegroundColor: rgba(68, 255, 210, 0.8);
  --vscode-gitlens-decorations\.copiedForegroundColor: #73c991;
  --vscode-gitlens-decorations\.deletedForegroundColor: rgba(254, 74, 73, 0.8);
  --vscode-gitlens-decorations\.ignoredForegroundColor: #8c8c8c;
  --vscode-gitlens-decorations\.modifiedForegroundColor: rgba(
    255,
    228,
    94,
    0.8
  );
  --vscode-gitlens-decorations\.untrackedForegroundColor: rgba(
    68,
    255,
    210,
    0.8
  );
  --vscode-gitlens-decorations\.renamedForegroundColor: #73c991;
  --vscode-gitlens-decorations\.branchAheadForegroundColor: #35b15e;
  --vscode-gitlens-decorations\.branchBehindForegroundColor: #b15e35;
  --vscode-gitlens-decorations\.branchDivergedForegroundColor: #d8af1b;
  --vscode-gitlens-decorations\.branchUpToDateForegroundColor: rgba(
    243,
    239,
    245,
    0.8
  );
  --vscode-gitlens-decorations\.branchUnpublishedForegroundColor: #35b15e;
  --vscode-gitlens-decorations\.branchMissingUpstreamForegroundColor: #c74e39;
  --vscode-gitlens-decorations\.statusMergingOrRebasingConflictForegroundColor: #c74e39;
  --vscode-gitlens-decorations\.statusMergingOrRebasingForegroundColor: #d8af1b;
  --vscode-gitlens-decorations\.workspaceRepoMissingForegroundColor: #909090;
  --vscode-gitlens-decorations\.workspaceCurrentForegroundColor: #35b15e;
  --vscode-gitlens-decorations\.workspaceRepoOpenForegroundColor: #35b15e;
  --vscode-gitlens-decorations\.worktreeHasUncommittedChangesForegroundColor: #e2c08d;
  --vscode-gitlens-decorations\.worktreeMissingForegroundColor: #c74e39;
  --vscode-gitlens-graphLane1Color: #15a0bf;
  --vscode-gitlens-graphLane2Color: #0669f7;
  --vscode-gitlens-graphLane3Color: #8e00c2;
  --vscode-gitlens-graphLane4Color: #c517b6;
  --vscode-gitlens-graphLane5Color: #d90171;
  --vscode-gitlens-graphLane6Color: #cd0101;
  --vscode-gitlens-graphLane7Color: #f25d2e;
  --vscode-gitlens-graphLane8Color: #f2ca33;
  --vscode-gitlens-graphLane9Color: #7bd938;
  --vscode-gitlens-graphLane10Color: #2ece9d;
  --vscode-gitlens-graphChangesColumnAddedColor: #347d39;
  --vscode-gitlens-graphChangesColumnDeletedColor: #c93c37;
  --vscode-gitlens-graphMinimapMarkerHeadColor: #05e617;
  --vscode-gitlens-graphScrollMarkerHeadColor: #05e617;
  --vscode-gitlens-graphMinimapMarkerUpstreamColor: #09ae17;
  --vscode-gitlens-graphScrollMarkerUpstreamColor: #09ae17;
  --vscode-gitlens-graphMinimapMarkerHighlightsColor: #fbff0a;
  --vscode-gitlens-graphScrollMarkerHighlightsColor: #fbff0a;
  --vscode-gitlens-graphMinimapMarkerLocalBranchesColor: #3087cf;
  --vscode-gitlens-graphScrollMarkerLocalBranchesColor: #3087cf;
  --vscode-gitlens-graphMinimapMarkerPullRequestsColor: #c76801;
  --vscode-gitlens-graphScrollMarkerPullRequestsColor: #c76801;
  --vscode-gitlens-graphMinimapMarkerRemoteBranchesColor: #2b5e88;
  --vscode-gitlens-graphScrollMarkerRemoteBranchesColor: #2b5e88;
  --vscode-gitlens-graphMinimapMarkerStashesColor: #b34db3;
  --vscode-gitlens-graphScrollMarkerStashesColor: #b34db3;
  --vscode-gitlens-graphMinimapMarkerTagsColor: #6b562e;
  --vscode-gitlens-graphScrollMarkerTagsColor: #6b562e;
  --vscode-gitlens-launchpadIndicatorMergeableColor: #3fb950;
  --vscode-gitlens-launchpadIndicatorMergeableHoverColor: #3fb950;
  --vscode-gitlens-launchpadIndicatorBlockedColor: #c74e39;
  --vscode-gitlens-launchpadIndicatorBlockedHoverColor: #c74e39;
  --vscode-gitlens-launchpadIndicatorAttentionColor: #d8af1b;
  --vscode-gitlens-launchpadIndicatorAttentionHoverColor: #d8af1b;
  --vscode-issues-newIssueDecoration: rgba(255, 255, 255, 0.28);
  --vscode-issues-open: #3fb950;
  --vscode-issues-closed: #cb2431;
  --vscode-pullRequests-merged: #8957e5;
  --vscode-pullRequests-draft: #6e7681;
  --vscode-pullRequests-open: #3fb950;
  --vscode-pullRequests-closed: #cb2431;
  --vscode-pullRequests-notification: #5eadf2;
  --vscode-remoteHub-decorations\.addedForegroundColor: #81b88b;
  --vscode-remoteHub-decorations\.modifiedForegroundColor: #e2c08d;
  --vscode-remoteHub-decorations\.deletedForegroundColor: #c74e39;
  --vscode-remoteHub-decorations\.submoduleForegroundColor: #8db9e2;
  --vscode-remoteHub-decorations\.conflictForegroundColor: #e4676b;
  --vscode-remoteHub-decorations\.incomingAddedForegroundColor: #81b88b;
  --vscode-remoteHub-decorations\.incomingModifiedForegroundColor: #e2c08d;
  --vscode-remoteHub-decorations\.incomingDeletedForegroundColor: #c74e39;
  --vscode-remoteHub-decorations\.incomingRenamedForegroundColor: #73c991;
  --vscode-remoteHub-decorations\.possibleConflictForegroundColor: #cca700;
  --vscode-remoteHub-decorations\.ignoredResourceForeground: #8c8c8c;
  --vscode-remoteHub-decorations\.workspaceRepositoriesView\.hasUncommittedChangesForegroundColor: #e2c08d;
}
